[user]
	email = lm90311@gmail.com
	name = mingcc


[alias]
    l    = log --abbrev-commit --abbrev=4 --pretty=oneline -25
    sb = status -sb
    s  = status
    ci = commit
[core]
	excludesfile = ~/.gitignore
	pager = less
[pager]
	status = true
